.logo{
  width: 1150px;
  display:block;
  margin:0 auto;
}

.footer-up{
  text-decoration: none;
  font-family: Verdana;
  margin-right: 3%;
  margin-top: 1.38%;
}
.imagine{
  width:170px;
  display:block;
  margin:0 auto;
}
.information{

  display:block;
  margin:0 auto;
  margin-left:30px;
}
.info{
  width: 230px;
  display:block;
  margin:0 auto;
  margin-left: 12.4%;
  padding:1px;
}
.info h3{
  font-size: 30px;
  text-align: center;
  font-family: Century Gothic;
  font-weight: bold;
  color: #031266;
}
.info p{
  font-size: 20px;
  font-family: Levenim MT;
  padding-top: 10px;
}
.lets{
  display:block;
  margin:0 auto;
  margin-top:10px;
  font-family: Verdana;
  font-size: 20px;
  width: 190px;
  background-color: #031266;
}
body{
  background:url("../images/BackgrMain_1600_1200.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
.get{
  margin-left:0%;
  font-size: 13px;
  width: 100%;
}
.kitchen{
  margin-top: 1.3888%;
  margin-left: 2.020202%;
  position:relative;
  height: 60%;
 width: 70%;
  border: 10px double blue;
}

#Tomato{
  position: relative;
  height: 50px;
  z-index:3;
  left: -400px; top: 25px;
}
#tomato-slice{
  position: relative;
  height: 40px;
  z-index:4;
  left: -410px; top:265px;
}
#Cucumber{
  position: relative;
  height:15px;
  z-index:3;
  left: -500px; top: -30px;
}
#cucumber-slice{
  position: relative;
  height: 40px;
  z-index:5;
  left: -450px; top:300px;
}

#Mayonnaise{
  position: relative;
  height: 50px;
  z-index:3;
  left: -420px; top: 65px;
}

#Plate{
  position: relative;
  height: 50px;
  width: 60px;
  z-index: 1;
  left: -400px; top:230px;
}

#sandwich{
  height: 40px;
  position: relative;
  z-index: 3;
  left: 430px; top:-200px;
}

#Desk{
  position: relative;
  height: 100px;
  z-index: 3; left: 400px; top: -150px;
}

#Bread{
  height: 70px;
  position: relative;
  z-index: 6;
  left: 900px; top: -300px;
}
#Breadbox{
  height: 100px;
  position: relative;
  z-index:5;
  left: 750px; top: -300px;
}
#bread-slice{
  height: 50px;
  position: relative;
  z-index:4;
  left: 520px; top: -150px;
}
#Knife{
  height: 50px;
  position: relative;
  z-index:4;
  left: 100px; top: -405px;
}
.footer {
  opacity: 0.6;
  height: 300px;
  width: 100%;
  color: grey;
  margin-top: 30%;
  background-color: white;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(229, 229, 229);
  position: relative;

}

//
.footer > ul{
  opacity: 1;
  width:960px;
  position:absolute;
  left:50%;
  bottom:0;
  margin-left:-480px;
  padding-bottom: 60px;
  z-index:2;
}

.info{
  opacity: 1;
  color: #000000;
  font-family: Levenim MT;
  font-size: 20px;
}

.footer > ul > li{
  opacity: 1;
  width:25%;
  float:left;
}

.footer ul{
  opacity: 1;
  list-style: none;
}
.footer > ul > li ul li{
  opacity: 1;
  font-family: Levenim MT;
  margin-left:43px;
  font-weight:bold;
  line-height:1.8;
}

.footer > ul > li ul li a{
  opacity: 1;
  text-decoration: none !important;
  color:#7d8691 !important;
}
#login{
  display:block;
  margin:0 auto;
  margin-top:10px;
  font-family: Verdana;
  font-size: 20px;
  width: 190px;
}