<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<!--<p>Проект Play3G створений в межах курсу JavaScript в Києво-Могилянській Академії.</p>-->
<footer class="footer">
    <ul>
    <li>
    <p class="info">Home</p>
    <a class="logo"href="\">Play3G <i>&copy; 2016</i></a>
    </li>
    <li>
    <p class="info">Services</p>
    <ul>
    <li><a href="#">Drawing</a></li>
    <li><a href="#">Web development</a></li>
    <li><a href="#">Web &amp; Print Design</a></li>
    </ul>
    </li>
    <li>
    <p class="info">Contact us</p>

    <ul>
    <li><a href="#">Email</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    </ul>
    </li>
    </ul>
</footer>
</body>
</html>