<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Play3G</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
</head>
<body>
<footer class="menu">
    <ul class="list-inline">
        <li class="footer-up"><a class="footer-up" href="\">Home</a></li>
        <li class="footer-up"><a class="footer-up" href="profile.html">Profile</a></li>
        <li class="footer-up"><a href="about.html">About</a></li>
        <li class="footer-up"><a href="vocabulary.html">Vocabulary</a></li>
        <li class="footer-up navbar-right"><a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http%3A%2F%2Fmysite.com%2Fgglogin&response_type=code&client_id={762127104567-pg1bkod5gj4s90jmroop9oqggt55570v.apps.googleusercontent.com}&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile" title="Log in">Log in</a></li>
        <li class="footer-up navbar-right"><a href="#">Log out</a></li>
    </ul>
</footer>
<hr>