
   <span id="draggable" class=" ui-widget ui-corner-all ui-state-error" data-toggle="tooltip" data-placement="top" title="<%= prod.title %>"><img id="<%= prod.title %>" src="<%= prod.iconFull %>"></span>
