<% include common/header.ejs %>
<div>
<p class="present" align="center">Our site was made for people who like playing games but want to have some benefits of it.
In this case, we decided to make colorful and usefull site where users are able to have fun, practice english and in the same time discover for themselves new receips of different tasty dishes.</p>
<h3 align="center">
    Developers:
</h3>
    <div class="col-lg-4 info information">
        <h3>Olga Salnikova</h3>
        <img class="imagine" src= "assets/images/Olga.png">
        <p align="center">Backend
        </p>
    </div>
    <div class="col-lg-4 info information">
        <h3>Elizabeth Lemeshko</h3>
        <img class="imagine" src= "assets/images/Elizabeth.png">
        <p align="center">Frontend
        </p>
    </div>
    <div class="col-md-4 info information">
        <h3>Victoria Petruk</h3>
        <img class="imagine" src= "assets/images/Victoria.png">
        <p align="center">Artist
        </p>
    </div>
</div>
<% include common/footer.ejs %>