<% include common/header.ejs %>
<div class="kitchen-one">
<img class="kitchen" src= "assets/images/kitchen.jpg">
<!--<img id="tomato-full" src="assets/images/tamato_PNG2019.png">-->
<!--<img id="mayo" src="assets/images/dietetic_mayonnaise.png">-->
    <!--<img id="cucumber-full" src="assets/images/ogurets-rastr.png">-->
    <!--<img id="tomato-slice" src="assets/images/40186586.png">-->
    <!--<img id="cucumber-slice" src="assets/images/cucumber-spas-in-panama-city-panama.png">-->
    <!--<img id="plate" src="assets/images/plate.png">-->
    <!--<img id="bread" src="http://1.bp.blogspot.com/-XPoRVLvx4D8/Tq71GrCyEwI/AAAAAAAABNo/YlnF5fFvtbI/s320/bread.png">-->
    <!--<img id="breadbox" src="assets/images/derevyannaya-hlebnica.PNG">-->
    <!--<img id="bread-slice" src="http://parentingwithunderstanding.files.wordpress.com/2011/11/slice-of-bread.png">-->
    <!--<img id="knife" src="http://pngimg.com/upload/knife_PNG1512.png">-->
    <!--<img id="desk" src="assets/images/Manaita.png">-->
    <img id="sandwich" src="assets/images/Sandwich_PNG_Clipart_Vector_Image.png">
</div>
<% include common/footer.ejs %>
