<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Play 3G</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less">
    <!--Own JavaScript -->
    <script type="text/javascript"  src="assets/js/main.js"> </script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

</head>
<body>
<footer class="menu">
    <ul class="list-inline">
        <li class="footer-up"><a class="footer-up" href="\">Home</a></li>
        <li class="footer-up"><a class="footer-up" href="profile.html">Profile</a></li>
        <li class="footer-up"><a href="about.html">About</a></li>
        <li class="footer-up"><a href="vocabulary.html">Vocabulary</a></li>
    </ul>
</footer>

    <div class="kitchen-one col-lg-8">
    </div>


<!--<p>Проект Play3G створений в межах курсу JavaScript в Києво-Могилянській Академії.</p>-->
<footer class="footer">
    <ul>
        <li>
            <p class="info">Home</p>
            <a class="logo"href="\">Play3G <i>&copy; 2016</i></a>
        </li>
        <li>
            <p class="info">Services</p>
            <ul>
                <li><a href="#">Drawing</a></li>
                <li><a href="#">Web development</a></li>
                <li><a href="#">Web &amp; Print Design</a></li>
            </ul>
        </li>
        <li>
            <p class="info">Contact us</p>

            <ul>
                <li><a href="#">Email</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </li>
    </ul>
</footer>
</body>
</html>