<% include common/header.ejs %>
<div class="kitchen-one">
    <!--<img id="tomato-full" src="assets/images/tamato_PNG2019.png">-->
    <!--<img id="mayo" src="assets/images/dietetic_mayonnaise.png">-->
    <!--<img id="cucumber-full" src="assets/images/ogurets-rastr.png">-->
    <!--<img id="tomato-slice" src="assets/images/40186586.png">-->
    <!--<img id="cucumber-slice" src="assets/images/cucumber-spas-in-panama-city-panama.png">-->
    <!--<img id="plate" src="assets/images/plate.png">-->
    <!--<img id="bread" src="http://1.bp.blogspot.com/-XPoRVLvx4D8/Tq71GrCyEwI/AAAAAAAABNo/YlnF5fFvtbI/s320/bread.png">-->
    <!--<img id="breadbox" src="assets/images/derevyannaya-hlebnica.PNG">-->
    <!--<img id="bread-slice" src="http://parentingwithunderstanding.files.wordpress.com/2011/11/slice-of-bread.png">-->
    <!--<img id="knife" src="http://pngimg.com/upload/knife_PNG1512.png">-->
    <!--<img id="desk" src="assets/images/Manaita.png">-->
    <div id="draggable" class="ui-widget ui-corner-all ui-state-error"  data-toggle="tooltip" data-placement="top" title="jn">
        <img id="sandwich" src="assets/images/Sandwich_PNG_Clipart_Vector_Image.png">
    </div>
</div>
<div class="list-group recipe-demolevel">
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step1">1.First of all, take a loaf of bread from the bread-plate.</p>
    </a>
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step2">2.Cheese, sausage, tomato and mayonnaise from the fridge.</p>
    </a>
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step3">3.Then, make two slices of bread using a knife and a cutting board. </p>
    </a>
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step4">4.Grease it with mayonnaise. </p>
    </a>
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step5">5.After that, slice sausage and put it on a piece of bread. </p>
    </a>
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step6">6.Continue with tomato, cucumber and cheese. </p>
    </a>
    <a href="#" class="list-group-item">
        <p class="list-group-item-text" id="demo-step7">7.Cover it with the second slice of bread.</p>
    </a>
</div>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<!--<p>Проект Play3G створений в межах курсу JavaScript в Києво-Могилянській Академії.</p>-->
<% include common/footer.ejs %>

