<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Play 3G</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>

    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less">
    <!--Own JavaScript -->
    <script type="text/javascript"  src="assets/js/main.js"> </script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

</head>
<body>
<footer class="menu">
    <ul class="list-inline">
        <li class="footer-up"><a class="footer-up" href="\">Home</a></li>
        <li class="footer-up"><a class="footer-up" href="profile.html">Profile</a></li>
        <li class="footer-up"><a href="about.html">About</a></li>
        <li class="footer-up"><a href="vocabulary.html">Vocabulary</a></li>
        <li class="footer-up navbar-right"><a href="#">Log in</a></li>
        <li class="footer-up navbar-right"><a href="#">Log out</a></li>
    </ul>
</footer>
<table>
    <tr>
        <td>
    <div class="kitchen-one col-lg-8">
    </div>
</td>
        <td>
<div class="recipe-demolevel">
    <h4 align="center">"How to make a sandwich"</h4>
    <ul>
    <li><p id="demo-step1" class="cross">1.First of all, take a loaf of bread from the bread-plate; <br>cheese, cucumber, tomato from the fridge.<br>Place all on the cutting board.</p></li>
    <li><p id="demo-step2">2. Then, cut that all using a knife.</p></li>
    <li><p id="demo-step4">3. Place a slice of bread on the plate.<br>Grace it with mayonnaise. </p></li>
    <li><p id="demo-step5">4. Put tomato slices. </p></li>
    <li><p id="demo-step6">5. Cover it with cheese. </p></li>
    <li><p id="demo-step7">6. Place cucumber.</p></li>
    </ul>
</div>
</td>
        </tr>
    </table>
<!--<p>Проект Play3G створений в межах курсу JavaScript в Києво-Могилянській Академії.</p>-->
<!--<div class="alert alert-dismissible alert-success" id="congratulation">-->
    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <!--<strong>Well done!</strong> You successfully done this demo level.-->
<!--</div>-->
<div class="popup" id="congratulation">
    <h3>Congratulation</h3>
    <h4>You successfully done this demo level.</h4>
    <h2></h2>
  <button class="btn btn-success"><a href="profile.html" style="color:white;">Profile</a></button>
   <button class="btn btn-warning"><a href="vocabulary.html" style="color:white;">Vocabulary</a></button>
    <h2></h2>
</div>
<!--<div id="congratulation" class="toblur popwindow " data-title="Congratulation" data-height="150">You successfully done this demo level.</div>-->
<!--<blockquote class="some-tips">-->
<footer class="footer">
    <ul>
        <li>
            <p class="info">Home</p>
            <a class="logo"href="\">Play3G <i>&copy; 2016</i></a>
        </li>
        <li>
            <p class="info">Services</p>
            <ul>
                <li><a href="#">Drawing</a></li>
                <li><a href="#">Web development</a></li>
                <li><a href="#">Web &amp; Print Design</a></li>
            </ul>
        </li>
        <li>
            <p class="info">Contact us</p>

            <ul>
                <li><a href="#">Email</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </li>
    </ul>
</footer>
</body>
</html>