<% include common/header.ejs %>
<div class="kitchen-one">
<img class="kitchen" src= "assets/images/kitchen.jpg">
<img id="tomato-full" src="assets/images/tamato_PNG2019.png">
<img id="mayo" src="assets/images/dietetic_mayonnaise.png">
    <img id="cucumber-full" src="assets/images/ogurets-rastr.png">
    <img id="tomato-slice" src="assets/images/40186586.jpg">
    <img id="cucumber-slice" src="assets/images/31.jpg">
    <img id="plate" src="assets/images/empty.jpg">
    <img id="sandwich" src="assets/images/23954643.jpg">
    <img id="desk" src="assets/images/Manaita.png">
    <img id="bread" src="assets/images/depositphotos_53675555-Bread.-Food-Flat-Icon.jpg">
    <img id="breadbox" src="assets/images/derevyannaya-hlebnica.PNG">
    <img id="bread-slice" src="http://parentingwithunderstanding.files.wordpress.com/2011/11/slice-of-bread.png">
    <img id="knife" src="http://pngimg.com/upload/knife_PNG1512.png">
</div>
<% include common/footer.ejs %>