<% include common/header.ejs %>

<img class="logo" src= "assets/images/play.png">
<div class="information">
    <div class="row">
        <div class="col-sm-3 info information">
            <h3>Enjoy learning English</h3>
            <img class="imagine" src= "assets/images/playm.png">
            <p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
        <div class="col-sm-3 info information">
            <h3>Remember new words</h3>
            <img class="imagine" src= "assets/images/vocabluary.png">
            <p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
        <div class="col-sm-3 info information">
            <h3>See your progress</h3>
            <img class="imagine" src= "assets/images/progress.png">
            <p align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
    </div>
</div>
<div class="lets">
    <button type="button" class="btn btn-primary lets">Lets get started!</button>
</div>
<p align="center"><strong>OR</strong></p>
<button type="button" class="btn btn-warning" id="login">Log in</button>
<% include common/footer.ejs %>