<% include common/header.ejs %>

<div class="mainPage">
<img class="logo" src= "assets/images/play.png">
<div class="information">
    <div class="row">
        <div class="col-sm-3 info information">
            <h3>Enjoy learning English</h3>
            <img class="imagine" src= "assets/images/playm.png">
            <p align="center">Learn english words, discover new recipes of tasty dishes and enjoy playing.
            </p>
        </div>
        <div class="col-sm-3 info information">
            <h3>Remember new words</h3>
            <img class="imagine" src= "assets/images/vocabluary.png">
            <p align="center">You can find words that needed in the special dictionary and then remember it while playing.</p>
        </div>
        <div class="col-sm-3 info information">
            <h3>See your progress</h3>
            <img class="imagine" src= "assets/images/progress.png">
            <p align="center">Revise your progress in profile and collect there your favourite recipes.</p>
        </div>
    </div>
</div>
<div class="mainButtons">
    <button type="button" class="ll login" id="tester">Let`s get started!</button>
</div>
    </div>
<% include common/footer.ejs %>