<% include common/header.ejs %>
<!---->
<h4 align="center">See you progress:</h4>
<ul style="list-style: none;">
    <li>
        <h5 style="margin-left: 2%;"> Kitchen</h5>
        <div class="progress progress-striped" style="width:40%;margin-left: 2%;">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </li>
</ul>
<h4 align="center">Choose category & play:</h4>
<ul class="nav nav-tabs vocabulary-table">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Kitchen <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#demolevel" data-toggle="tab">Demo level</a></li>
        </ul>
    </li>
    <li class="disabled"><a>Furniture</a></li>
    <li class="disabled"><a>Appearance</a></li>
</ul>
<div class="tab-pane fade" id="demolevel">
    <div class="panel panel-warning descript">
        <div class="panel-heading">
            <h3 class="panel-title">Recipe 1</h3>
        </div>
        <div class="panel-body">
            <img class="illustrarion" src="assets/images/STAGE-4.png">
            <h4  align="center" >Try to cook your first sandwich!</h4>
            <a href="#" class="btn btn-warning btn-lg btn-block tester" style="color:white;">Let`s play</a>
        </div>
    </div>
    </div>
<% include common/footer.ejs %>