<% include common/header.ejs %>

    <ul class="nav nav-tabs vocabulary-table"align="center">
    <li class="active">
        <a href="#demolevel" data-toggle="tab">Demo level</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Kitchen <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#demolevel" data-toggle="tab">Demo level</a></li>
            <li><a href="#level2" data-toggle="tab">Level two</a></li>
        </ul>
    </li>
    <li class="disabled"><a>Furniture</a></li>
    <li class="disabled"><a>Appearance</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="demolevel">
<ul class="vocabluary-staff">
    <li><p><strong>Sandwich - бутерброд</strong></p></li>
    <li><h5>Ingredients:</h5></li>
    <li id="br">Bread - хліб</li>
    <li id="ch">Cheese - сир</li>
    <li>Sausage - ковбаса</li>
    <li>Tomato - помідор</li>
    <li>Cucumber - огірок</li>
    <li>Mayonnaise - майонез</li>
</ul>
        <ul class="vocabluary-staff">
            <li><h5>Equipment:</h5></li>
            <li>plate - тарілка</li>
            <li>piece of smth/slice of smth - шматочок чогось</li>
            <li> fridge/refrigerator - холодильник</li>
            <li>bread-plate/breadbasket - хлібниця</li>
            <li>knife - ніж</li>
            <li>cutting board/chopping board - доска для нарізання</li>
        </ul>

        <ul class="vocabluary-staff">
            <li><h5>Operations:</h5></li>
            <li>to cut - нарізати</li>
            <li>to slice - різати скибочками</li>
            <li>to grease - змащувати</li>
        </ul>
    </div>
    <div class="tab-pane fade" id="level2">
        <ul class="vocabluary-staff">
            <li><p><strong>Soup - суп</strong></p></li>
            <li><h5>Ingredients:</h5></li>
            <li>Potatoes - картопля</li>
            <li>Onion - цибуля</li>
            <li>Carrot - морква</li>
            <li>Vegetable oil - рослинна олія</li>
            <li>White cabbage - білокачанна капуста</li>
            <li>Greenery - зелень</li>
            <li>Dill - кріп</li>
            <li>Parsley - петрушка</li>
            <li>Salt - сіль</li>
            <li>Bouillon - бульйон</li>
        </ul>
        <ul class="vocabluary-staff">
            <li><h5>Equipment:</h5></li>
            <li> Saucepan - каструля</li>
            <li>Grater - терка</li>
        </ul>

        <ul class="vocabluary-staff">
            <li><h5>Operations:</h5></li>
            <li> to grate - натирати</li>
            <li>to shred - шинкувати</li>
        </ul>
    </div>
</div>
<% include common/footer.ejs %>