<% include common/header.ejs %>
<ul class="nav nav-tabs vocabulary-table">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Kitchen <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#demolevel" data-toggle="tab">Demo level</a></li>
            <li><a href="#level2" data-toggle="tab">Level two</a></li>
        </ul>
    </li>
    <li class="disabled"><a>Furniture</a></li>
    <li class="disabled"><a>Appearance</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="demolevel">
<ul>
    <li>Sandwich</li>
    <li>Ingredients</li>
    <li>Bread</li>
    <li>Cheese</li>
    <li>Sausage</li>
    <li>Tomato</li>
    <li>Cucumber</li>
    <li>Mayonnaise</li>
</ul>

        <ul>
            <li>plate</li>
            <li>piece of smth/slice of smth</li>
            <li> fridge/refrigerator</li>
            <li>bread-plate/breadbasket</li>
            <li>knife</li>
            <li>cutting board/chopping board</li>
        </ul>

        <ul>
            <li>to cut</li>
            <li>to slice</li>
            <li>to grease</li>
        </ul>
    </div>

    <div class="tab-pane fade" id="level2">
<p>Vika, need to add some staff</p>
    </div>
</div>
<% include common/footer.ejs %>